.table-custom {
	margin-bottom: 0rem;
}

.table thead > tr > th, .table tfoot > tr > th{
	white-space: nowrap;
}


.alert{
	margin-bottom: 0rem;
}

.custom-action{
	padding: 0;
	margin: 0;
	white-space: nowrap;
}
.custom-action li{
	list-style: none;
	display: inline;
	margin: 0 1px;

}
.fa-edit{
	color: #198754;
}
.fa-trash{
	color: #dc3545;
}

.modal-button ul{
	padding: 0;
	margin: 0;
}
.modal-button ul li{
	list-style: none;
	display: inline;
	margin: 0 5px;
}